[submodule "upstream-tests/rh/source"]
	path = upstream-tests/rh/source
	url = https://github.com/williamstein/rh.git
[submodule "upstream-tests/tree-sitter-magma"]
	path = upstream-tests/tree-sitter-magma
	url = https://github.com/edgarcosta/tree-sitter-magma.git
[submodule "upstream-tests/tree-sitter-wolfram"]
	path = upstream-tests/tree-sitter-wolfram
	url = https://github.com/WolframResearch/tree-sitter-wolfram.git
[submodule "upstream-tests/tree-sitter-matlab"]
	path = upstream-tests/tree-sitter-matlab
	url = https://github.com/acristoffers/tree-sitter-matlab.git
